*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    justify-content: center;
}

.app{
    width: 800px;
}

.app h1, h2 {
    color: rgb(255, 0, 0);
}

.post{
    display: flex;
    padding: 15px;
    border: 2px solid rgb(164, 64, 164);
    color: rgb(164,64,164);
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post__content{

}

.post__btns{

}